<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css">
    <title th:text="#{title.busqueda.facturas}">Buscador de facturas</title>

</head>
<body>
<div>
    <a th:href="@{'/'}">Volver</a>
</div>
<div>
    <h1 th:text="#{title.busqueda.facturas}">Buscador de facturas</h1>
</div>

<div>
    <form name="f_buscador_codigo" action="/b/f">
        <label for="codigo" th:text="#{label.codigo}">Codigo</label>
        <input type="text" id="codigo" name="codigo">
        <button th:text="#{form.button.go}">Enviar</button>
    </form>
</div>

<div th:if="${factura}">
    <table>
        <thead>
        <tr>
            <th th:text="#{label.codigo}">Codigo</th>
            <th th:text="#{label.importe}">Importe</th>
            <th th:text="#{label.tipo}">Tipo</th>
        </tr>
        </thead>
        <tbody >
        <tr th:each="factura : ${factura}">
            <td th:text="${factura.codigo}">Codigo</td>
            <td th:text="${factura.importe}">Importe</td>
            <td th:text="${factura.tipo}">Tipo</td>
        </tr>
        </tbody>
    </table>
</div>
<div th:if="${error}" class="error">
    <p class="error" th:text="#{${error}}">Mensaje de error</p>
</div>
<div>
    <h1 th:text="#{title.busqueda.facturas.tipo}">Buscador de facturas por tipo</h1>
</div>
<div>
    <form name="f_buscador_tipo" action="/b/f/t">
         <select id="tipo" name="tipo">
            <option></option>
            <option th:each="tipo:${tipos}" th:value="${tipo}" th:text="${tipo}"></option>
        </select>
        <button th:text="#{form.button.go}">Enviar</button>
    </form>
</div>

<div th:if="${list}">
    <table id="data">
        <thead>
        <tr>
            <th th:text="#{label.codigo}">Codigo</th>
            <th th:text="#{label.importe}">Importe</th>
            <th th:text="#{label.tipo}">Tipo</th>
        </tr>
        </thead>
        <tbody >
        <tr th:each="l : ${list}">
            <td th:text="${l.codigo}">Codigo</td>
            <td th:text="${l.importe}">Importe</td>
            <td th:text="${l.tipo}">Tipo</td>
        </tr>
        </tbody>
        <tbody th:if="${factura}">
        <tr th:each="f : ${factura}">
            <td th:text="${f.codigo}">Codigo</td>
            <td th:text="${f.importe}">Importe</td>
            <td th:text="${f.tipo}">Tipo</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
